.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  box-shadow: none !important;
}
.icon {
  margin: 0 !important;
}
